---
import Form from "../components/Form.astro";
---

<section class="relative text-white mt-32 flex items-center justify-center">
  <!-- Immagine di sfondo -->
  <img src="/src/assets/img/solar-house.png" alt="Hero Background" />
  <Form />
</section>
