---
import Form from "../components/Form.astro";
---

<section class="relative text-white flex items-center justify-center">
  <!-- Immagine di sfondo -->
  <img src="/img/solar-house.png" alt="Solar House Logo" />
  <Form />
</section>
