---
import "../styles/global.css";
const links = [
  { name: "home", href: "/" },
  { name: "portfolio", href: "/" },
  { name: "contatti", href: "/" },
];
---

<nav class="bg-blue-600 p-4">
  <div class="container mx-auto flex justify-between items-center">
    <!-- Logo -->
    <a href="/" class="text-white text-2xl font-bold">Logo</a>

    <!-- Mobile Menu Button -->
    <button id="menu-btn" class="md:hidden text-white text-2xl"> ☰ </button>

    <!-- Links -->
    <ul
      id="menu"
      class="flex flex-row space-x-4 text-white md:flex-row md:space-x-8"
    >
      {
        links.map((link) => (
          <li>
            <a href={link.href} class="">
              {link.name}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</nav>
