---
import "../styles/global.css";
import Button from "../components/Button.astro";
const links = [
  { name: "home", href: "/" },
  { name: "portfolio", href: "/" },
  { name: "contatti", href: "/" },
];
---

<nav class="p-4">
  <div class="container mx-auto flex justify-between items-center">
    <!-- Logo -->
    <a href="/" class="text-black text-2xl font-bold">Solar House</a>

    <!-- Mobile Menu Button -->
    <div class="flex space-x-3">
      <Button text="Sign up" href="/sign-up" variant="primary" />
      <Button text="Log in" href="/login" variant="secondary" />
    </div>
  </div>
</nav>
